# Exécutables produits par make
grym
grym-lexeur
grym-arbre
grym-suites
test_lexeur
test_analyseur
test_machine
test_imprimeur
test_compact
test_serveur
test_base
test_lsp
*.exe
*.o
*.obj
*.grymb
.DS_Store
exemples/copie.png
*.grymd
editeurs/vscode/node_modules/
editeurs/vscode/*.vsix
